body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.grid {
    background-color: black;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(20,1fr);
    gap:1px
}
.color{
    width: 2em;
    min-height: 2em;
    margin: 0.25em;
    border: 1px solid black;
    cursor: pointer;
}
.palitra{
    display: flex;
    flex-direction: row;

}
.black {
    background-color: black
}
.white{
    background-color: white
}
.blue{
    background-color: blue
}
.red{
    background-color: red
}
.green{
    background-color: green
}
.eraser{
    width: 2em;
    min-height: 2em;
    margin: 0.25em;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FF33FF ;
}
img{
    width: 2em;
    min-height: 2em;
}
.button{
    cursor: pointer;
     margin: 0.25em;
    border: 1px solid black;
}
